

.sportspic{
    position: absolute;
    height: 50%;
    width: 70%;
    top: 10%;
    left: 40%;
}

 body {
     background-image: url("http://pandora.com/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }