 body {
     background-image: url("http://pandora.com/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .boxsalesforce{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    left: 50%;
}

.boxaws{
      background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    left: 50%;
    
}

.boxcloud{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    position: absolute;
    top: 0%;
    left: 50%;
    
    
}

.boxgmail{
     background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.button{
    position: absolute;
    top: 113%;
    left: 80%;
}

.button2{
    position: absolute;
    top: 113%;
    left: 84%;
    
}

.cloudheading{
    position: absolute;
    z-index:9 ;
    left:34%;
    top:1%;
}