 body {
     background-image: url("http://pandora.com/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }
 
 .boxsalesforce{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

.boxaws{
      background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    
}

.boxcloud{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    position: absolute;
    top: 10%;
    left: 50%;
    
    
}